.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


body{
  background-color: #282c34;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: #61dafb
}

.container{
  width:80%;
  margin: auto;
}

.headContainer .headerTitleContainer{
  flex-direction: row;
  padding: 5px 5px 5px;
}

.container .headContainer{
  padding: 5px; 
  border-radius: 5px;
  background: rgba(0,0,0,0.4);
}

.container .headContainer .headerTitleCover{
  text-align: center;
}

.container .headContainer .headerTitle{
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 8px; 
  display: inline-block;
}

.container .headContainer .headerTitle .todoNumbers{
  margin-right: 6px;
}

.NImportant{
  color:red;
}


.container h1{
  font-size: 16px;
}

.container ul{
  flex-direction: column;
  padding: 0;
  list-style: none;
  
}

.container li{
  line-height: 1.5;
}

.container li .notImportant{
  display: none;
}

.container li .important{
  color: red;
  display: inline-block;
  margin-right: 4px;
}

.container input[type="checkbox"]{
  margin-right: 5px;
}

.cmd{
  font-size: 12px;
  cursor: pointer;
  color: #08c;
  margin-left: 5px;
}

.container input[type="text"]{
  padding: 2px;
  margin-right: 5px;
}

h1 > span {
  color: #ccc;
  font-size: 12px;
  font-weight: normal;
  margin-left: 5px;
}

h1 > button{
  float: right;
}

.done{
  text-decoration: line-through;
  color: #ccc;
}



.formTitle2{
  color: red;
  margin: 10px 0 10px;
  display: inline-block;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
